<%- include('../partials/head') %>
<div class="header">
  <a class="button" href="/storage">Storage</a>
  <a class="button button-link" href="/logout">Logout</a>
</div>
<div class="content">
  <div class="content-column w-66">
    <div class="content-container card">
      <div class="inventory-container">
        <% if (!!inventory && inventory.length > 0) { %>
          <% for (let i = 0; i < inventory.length; i++) { %>
          <div class="inventory-item">
            <img src="/icons/<%- inventory[i].item.category %>/<%- inventory[i].item.id %>.png">
            <p><%- inventory[i].quantity %> <%- inventory[i].item.displayName %></p>
          </div>
          <% } %>
        <% } %>
        <% if (!inventory || inventory.length === 0) { %>
          <p>No items in inventory :(</p>
        <% } %>
      </div>
    </div>
    <div class="content-container card">
      <div class="comment-form">
        <form action="/comments" method="post">
          <input
            type="text"
            name="content"
            id="content"
            class="form-control"
            placeholder="what do you think?"
          />
          <button class="button button-group-right" type="submit">Post</button>
        </form>
      </div>
      <div class="comments-container">
        <% if (!!comments && comments.length > 0) { %>
          <% for (let i = 0; i < comments.length; i++) { %>
          <div class="comment-box">
            <h5><%- comments[i].username %></h5>
            <p><%- comments[i].content %></p>
          </div>
          <% } %>
        <% } %>
        <% if (!comments || comments.length === 0) { %>
          <p>No comments yet :(</p>
        <% } %>
      </div>
    </div>
  </div>
  <div class="content-column w-33">
    <div class="content-container profile card">
      <div class="profile-info">
        <h3><%=username%></h3>
      </div>
      <button class="button button-link" onclick="window.location.reload(true);">Refresh</button>
    </div>
    <div class="content-container form-card card">
      <form class="vertical-form" action="/transfer" method="post">
        <h4>transfer</h4>
        <input
          type="text"
          name="username"
          id="username"
          class="form-control"
          placeholder="username"
        />
        <select name="itemId" id="itemId" class="form-control">
          <option class="placeholder" value="" disabled selected hidden>item</option>
          <% for (let i = 0; i < inventory.length; i++) { %>
          <option value="<%- inventory[i].item.id %>"><%- inventory[i].item.displayName %></option>
          <% } %>
        </select>
        <input
          type="number"
          name="amount"
          id="amount"
          class="form-control"
          placeholder="amount"
        />
        <button class="button" type="submit">Send</button>
      </form>
    </div>
    <div class="content-container card">
      <h4>friends</h4>
      <div class="friends-container">
        <% if (!!friends && friends.length > 0) { %>
          <% for (let i = 0; i < friends.length; i++) { %>
          <div class="friend-box">
            <h5><%- friends[i].username %></h5>
          </div>
          <% } %>
        <% } %>
        <% if (!friends || friends.length === 0) { %>
          <p>No friends yet :(</p>
        <% } %>
      </div>
    </div>
  </div>
</div>
<%- include('../partials/footer') %>
