<%- include('../partials/head') %>
<div class="header">
  <a href="/storage">
    <button class="button">Storage</button>
  </a>
  <a href="/logout">
    <button class="button warning">Log Out</button>
  </a>
</div>
<div class="content">
  <div class="content-column w-66">
    <div class="inventory content-container card">
      <div class="inventory-container">
        <% if (!!inventory && inventory.length > 0) { %>
          <% for (let i = 0; i < inventory.length; i++) { %>
          <div class="inventory-item">
            <img src="/icons/<%- inventory[i].item.category %>/<%- inventory[i].item.id %>.png">
            <p><%- inventory[i].quantity %> <%- inventory[i].item.displayName %></p>
          </div>
          <% } %>
        <% } %>
        <% if (!inventory || inventory.length === 0) { %>
          <p>No items in inventory :(</p>
        <% } %>
      </div>
    </div>
    <div class="message-board content-container card">
      <div class="message-form">
        <form action="/messages" method="post">
          <input
            type="text"
            name="content"
            id="content"
            class="form-control"
            placeholder="Howdy!"
          />
          <button class="button" type="submit">Post</button>
        </form>
      </div>
      <div class="messages-container">
        <% if (!!messages && messages.length > 0) { %>
          <% for (let i = 0; i < messages.length; i++) { %>
            <div class="message-box" style="transform: rotate(<%= messages[i].rotation %>deg)">
              <span class="nail" style="right: calc(50% + <%= messages[i].rotation %>rem)"></span>
              <h4><%- messages[i].username %></h4>
              <p><%- messages[i].content %></p>
            </div>
          <% } %>
        <% } %>
        <% if (!messages || messages.length === 0) { %>
          <p>No messages yet :(</p>
        <% } %>
      </div>
    </div>
  </div>
  <div class="content-column w-33">
    <div class="content-container profile">
      <h3><%=username%></h3>
      <button class="button" onclick="window.location.reload(true);">Refresh</button>
    </div>
    <div class="metal content-container form-card card">
      <form class="vertical-form" action="/transfer" method="post">
        <h3 class="title">Transfer</h3>
        <input
          type="text"
          name="username"
          id="username"
          class="form-control"
          placeholder="Username"
        />
        <select name="itemId" id="itemId" class="form-control">
          <option class="placeholder" value="" disabled selected hidden>Item</option>
          <% for (let i = 0; i < inventory.length; i++) { %>
          <option value="<%- inventory[i].item.id %>"><%- inventory[i].item.displayName %></option>
          <% } %>
        </select>
        <input
          type="number"
          name="quantity"
          id="quantity"
          class="form-control"
          placeholder="Quantity"
        />
        <button class="button" type="submit">Transfer</button>
      </form>
    </div>
    <div class="message-board content-container card users">
      <h3 class="title">Friends</h3>
      <div class="friends-container">
        <span class="nail"></span>
        <% if (!!friends && friends.length > 0) { %>
          <% for (let i = 0; i < friends.length; i++) { %>
          <div class="friend-box">
            <p><%- friends[i].username %></p>
          </div>
          <% } %>
        <% } %>
        <% if (!friends || friends.length === 0) { %>
          <p>No friends yet :(</p>
        <% } %>
      </div>
    </div>
  </div>
</div>
<%- include('../partials/footer') %>
