<%- include('../partials/head') %>
<div class="header">
  <a href="/">
    <button class="button">Back</button>
  </a>
</div>
<div class="content">
  <table class="metal storage-container card">
    <thead>
      <tr>
        <th><h4>USERNAME</h4></th>
        <th><h4>ACQUIRED ON</h4></th>
        <th><h4>DATA</h4></th>
      </tr>
    </thead>
    <tbody>
      <% for (let i = 0; i < storage.length; i++) { %>
      <tr class="data-row <%= i % 2 === 0 ? 'odd' : 'even' %>">
        <td><%- storage[i].username %></td>
        <td><%- storage[i].createdAt %></td>
        <td><%- storage[i].data %></td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>
<%- include('../partials/footer') %>
